*{margin:0;paddidng:0;}
#admin-left{width:20%;height:100%;float: left;overflow:hidden;}
#personInfor{height:20px;margin:0 auto;padding:10px;background:#90F7F7;}
#username-title{float:left;}
#username-value{float:left;}
#signout{margin-left:10px;float:right;}
#jqxTree{background:#5E5E5E;color:#fff;}
#admin-right{width:80%;height:100%;background:#E6E6E6;float:left;}
#editUser{display:none;}
#admin-right #firstCategoryManager{display:none;}
#addFirstCategoryWindow{display:none}
#choiceCategoryImgWindow{display:none}
#editFirstCategoryWindow{display:none}
#addSecondCategoryWindow{display:none}
#updateSecondCategoryWindow{display:none}
#addCategoryImgWindow{display:none}
#admin-right #secondCategoryManager{display:none}
#admin-right-articlemanager{display:none}
#choiceFirstCategoryImg{font-size:10px;}
.floatleft{float:left}
.admin-right-articlemanager-secondcategory{display:none;}
.displayNone{display:none;}
.categoryIcon{width:20px;height:20px;}
.imgManager-picture{width:100px;height:50px;}
#imgmanager-table{max-height:600px;max-width:600px;overflow:auto;}

/* pageNav*/
a { color:#2B4A78; text-decoration:none; }
a:hover { color:#2B4A78;text-decoration:underline; }
a:focus, input:focus {outline-style:none; outline-width:medium; }
/* custom css style: pageNum,cPageNum */
.pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;}
.cPageNum{font-weight: bold;padding:2px 5px;color:red;}
#pageNav a:hover{text-decoration:none;background: #fff4d8; }
#addArticle-articleContent{max-height: 700px;overflow:scroll;}



