#bottom{float:left;width:100%;height:30px;font-size:10px;background-color:#000;padding-top:5px;}
#bottom-msg1{margin:0 auto;width:550px;padding-bottom:5px;}
#bottom-msg2{margin:0 auto;width:450px;}
.white{color:#fff;}