.index-lastnew2-category{font-size:15px;height:300px;float:left;margin-left:10px;margin-top:10px;border:1px solid #ccc;max-width:358px;min-width:200px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.index-lastnew2-category-categoryimg{width:30px;height:30px;float: left;margin-left:5px;margin-right:5px;}
.index-lastnew2-category-categoryname{float: left;margin-top:5px;margin-left:10px;}
.index-lastnew2-catgory-more{float:right;margin-top:5px;margin-right:10px;}
.index-lastnew2-category-contextimg{float:left;width:110;height:70;border:1px solid #ccc;padding:3px;margin:5px;}
.index-lastnew2-category-point{float:left;width:15px;height:15;border-radius:6px;margin-left:5px;margin-right:5px;}
.pointcolor1{background-color:rgb(140,194,89);}
.pointcolor2{background-color:rgb(252,152,42);}
.pointcolor3{background-color:rgb(20,192,228);}
.pointcolor4{background-color:rgb(255,94,33);}
.pointcolor5{background-color:rgb(247,211,74);}
.index-lastnew2-catgory-article{margin-top:9px;}
.index-lastnew2-category-articletime{float:right;margin-right:20px;}
.index-lastnew2-category-lastarticle{margin-top:10px;}
.index-lastnew2-category-more-circle{font-size: 10px;color:#fff;text-align: center;background:rgb(255,157,196);padding:3px 5px;border-radius:10px;}
.index-lastnew2-category-more-text{font-size: 8px;color:#ccc;text-align: center;}