*{margin:0;padding:0;}
.lastnew{height:200px;border:solid 1px #000;margin:10px;}
.lastnew-category-logo{width:40px;height:40px;float:left;}
.lastnew-title{float:left;padding-top:15px;}
.lastnew-pic{width:150px;height:120px;position: relative;top:20px;left:-30px;float:left;}
.lastnew-context{width:700px;height:140px;position:relative;left:10px;top:20px;}
.lastnew-othermsg{width：200px;height:20px;position:relative;font-size:13px;top:-10px;left:240px;}
.pointerHand{cursor:pointer;}
.floatleft{float:left;}
.goArticleDetail{position:relative;left:400px;}