#personal{width:230px;height:300px;border:1px solid red;margin:10px;}
#personalTitle{margin:0 auto;width:65px;height:25px;margin:0 auto;border:1px solid green;}
#csdn_img{background-repeat: no-repeat;width:30px;height:30px;}