*{padding:0px;margin:0px;}
#index-top{width:100%;}
#top-top{width:100%;height:25px;background-color:#D5D5D5;padding-left:40px;padding-top:10px;font-size: 13px;}
#top-center{width:100%;height:120px;background-image:url(../pictures/top-center.jpg);background-repeat:no-repeat;background-size:100% 120px;}
#top-bottom{ 
width:100%; 
height:40px; 
padding-left:auto;padding-right:auto; 
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #000000,  #EEEEEE);        /* IE 10 */
background:-moz-linear-gradient(top,#000000,#EEEEEE);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#000000), to(#EEEEEE));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#000000), to(#EEEEEE));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, rgb(104,104,104), rgb(39,39,39));   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #000000, #EEEEEE);  /*Opera 11.10+*/
} 
#top-title{margin:0 auto;width:1000px;}
.top-bottom-title{float: left;font-size:20px;color:#fff;padding:10px;}
