*{padding:0;margin:0;}
body{font-family:"宋体";}
#articledetail-center{width:1020px;margin:0 auto;min-height: 1000px;}
#articledetail-center-left{margin-top:10px;margin-bottom:10px;padding:20px;border:1px solid #ccc;max-width:650px;min-width:544px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:left;}
#articledetail-center-right{float:left;margin-top:10px;margin-left:10px;}

