*{padding:0;margin:0;}
body{font-family:"宋体";}
#center{width:1100px;margin:0 auto;min-height: 1000px;}
#center-left{width:730px;padding-top:10px;float:left;}
#center-right{float:left;margin-top:20px;margin-left:10px;}


#index-top{width:100%;}
#top-top{width:100%;height:25px;background-color:#D5D5D5;padding-left:40px;padding-top:10px;font-size: 13px;}
#top-center{width:100%;height:120px;background-image:url(../../pictures/top-center.jpg);background-repeat:no-repeat;background-size:100% 120px;}
#top-bottom{ 
width:100%; 
height:40px; 
padding-left:auto;padding-right:auto; 
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/ 
background: -ms-linear-gradient(top, #000000,  #EEEEEE);        /* IE 10 */
background:-moz-linear-gradient(top,#000000,#EEEEEE);/*火狐*/ 
background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#000000), to(#EEEEEE));/*谷歌*/ 
background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#000000), to(#EEEEEE));      /* Safari 4-5, Chrome 1-9*/
background: -webkit-linear-gradient(top, rgb(104,104,104), rgb(39,39,39));   /*Safari5.1 Chrome 10+*/
background: -o-linear-gradient(top, #000000, #EEEEEE);  /*Opera 11.10+*/
} 
#top-title{margin:0 auto;width:800px;}
.top-bottom-title{float: left;font-size:15px;color:#fff;padding:12px;}

.articlelist-article{height:160px;margin-top:10px;margin-left:0px;float: left;border:1px solid #ccc;max-width:730px;min-width:544px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.articlelist-article-name{width:500px;height:20px;margin-left:10px;margin-top:10px;float: left;}
.articlelist-article-contextimg{width:140px;height:100px;margin-top:30px;margin-left:-500px;float:left;}
.articlelist-article-context{width:550px;height:90px;float:left;margin-top:20px;margin-left:10px;}
.articlelist-article-othermsg{width:356px;height:26px;float:right;}	

/* pageNav*/
a { color:#2B4A78; text-decoration:none; }
a:hover { color:#2B4A78;text-decoration:underline; }
a:focus, input:focus {outline-style:none; outline-width:medium; }
/* custom css style: pageNum,cPageNum */
.pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;}
.cPageNum{font-weight: bold;padding:2px 5px;color:red;}
#pageNav a:hover{text-decoration:none;background: #fff4d8; }
#pageNav{margin:0 auto;margin-top:10px;width:400px;}
#pageNavBorder{width:730px;height:40px;float:left;}